<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    {% block css %}
    {% endblock %}
</head>

<body>
    <a href="% url 'todolist' %">首頁</a>
    {% if user.is_authenticated %}
    使用者: {{user.username}}
    <a href="{% url 'user-logout' %}">登出</a>
    <a href="{% url 'create-todo' %}">建立代辦事項</a>
    {% else %}
    <a href="{% url 'user-login' %}">登入</a>
    <a href="{% url 'user-register' %}">註冊</a>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>

</html>